# **Python**

**1**. **print()**

In [ ]:
print("hello world");
print(5.6);
print(False);

# print multiple values
print("India" , "Pakistan" , "Nepal" , "Sri Lanka");

#print multiple values of different type
print("Brooklyn Nets" , 35 , True);

hello world
5.6
False
India Pakistan Nepal Sri Lanka
Brooklyn Nets 35 True

print() has 
**sep=" " {space by default}** parameter

In [ ]:
print("LA Lakers" , "LA Clippers" , sep="/");

print("Dallas" , "Mavericks" , sep="-");

LA Lakers/LA Clippers
Dallas-Mavericks

print() also has **end="\n" {new line by default}** parameter

In [ ]:
print("hello" , end="\t");
print("world");

print("Lemon" , end="-");
print("Juice");

hello	world
Lemon-Juice



---

*2*. **data types**

**basic :** integer , float  , complex , boolean , string


**container type :** list , tuples , set , dictionary

**user defined :** Classes

In [ ]:
# integer
print(10);
print(1e308);

# float
print(4.5);
print(1.7e308);

# complex
print(4+5j);

a = 5 + 3j;
b = 10 + 12j;
print(a + b);


# strings
print('Bryant');
print("Bryant");
print("""Bryant""");

10
1e+308
4.5
1.7e+308
(4+5j)
(15+15j)
Bryant
Bryant
Bryant

In [ ]:
# list []
print("list " , [1,2,3,4,5]);

# tuple ()
print("tuple " ,(10 , 11 , 12 , 13));

# set {}
print("set " , {20 , 30 , 40});

# dictionary : key - value pair

print ( "dictionary" , 
    
      { 
      "name" : "lebron" , 
      "age" : 20,
      "team" : "lakers"
      }
    );

list  [1, 2, 3, 4, 5]
tuple  (10, 11, 12, 13)
set  {40, 20, 30}
dictionary {'name': 'lebron', 'age': 20, 'team': 'lakers'}



---

3. **Variables & Identifiers**

**no variable declaration in python**


**Dynamic Typing :** *no need to spcify data type of variable*


**Dynamic Binding :** *one variable can store multiple data types . variables are not binded to data types.*

In [ ]:
# declare multiple variables
a = 5 ; b = 6 ; c = 12 ;
print(a , b , c);

# or

a , b , c = 50 , 100 , 200 ;
print(a , b , c);

5 6 12
50 100 200



---

**4. Keywords**


**python is CASE SENSITIVE**

In [ ]:
import keyword

print(keyword.kwlist);

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']



---

**5. User Input**

In [ ]:
name = input("Enter your name ");
print("Hello " + name + " !");

Enter your name N
Hello N !

**ALL INPUT TAKE FROM input() IS TAKEN IN AS STRING VALUE**

In [ ]:
print(type(55));

a = int(input("number 1 : "));

b = int(input("number 2 : "));

print("sum : " , a + b);

<class 'int'>
number 1 : 10
number 2 : 20
sum :  30

**Type Conversion : *is not a permanent operation* ...**

*implicit type conversion* : done automatically by python

*explicit type conversion* : done by user

In [ ]:
# implicit / auto type conversion
c = 5 + 3.9 ; 
print(c);

8.9

In [ ]:
# explicit / manual type conversion

# int( )
print(type(int('45')));

<class 'int'>

int( ) ,  float( ) , bool( ) , complex( ) , list( ) , tuple( ) , dict( )

**type conversion does not manipulate the same data**

In [ ]:
a = 23.2;
print(int(23.2)); # a new integer created
print(a); # a still has same value

23
23.2



---

**6. Literals**
 
Literals : raw data given to variables



*   Numeric literal
*   String literal
*   Boolean literal
*   Special literal   

Literal : **value given to a variable**

***Numerical Literal***

In [ ]:
a = 0b1010 ; # binary literal
b = 100 ; # decimal literal
c = 0o310 ; # octal literal
d = 0x12c ; # hexadecimal literal

print(a , b , c , d);

float_1 = 10.5;
float_2 = 1.5e2; # 1.5 * 10 ^ 2
float_3 = 1.5e-3; # 1.5 * 10 ^ -3

print(float_1 , float_2 , float_3);

# complex literal
cmpx = 0 + 2.4j;
print(cmpx);
print("real part" , cmpx.real);
print("imaginary" , cmpx.imag);

10 100 200 300
10.5 150.0 0.0015
2.4j
real part 0.0
imaginary 2.4

Python **DOES NOT** have **Char Data Type.**

In [ ]:
character = "C"; # also treated as a string
print(type(character));

<class 'str'>

**" " " used for multi - line string " " "** { triple inverted commas " " "...." " " }

Python also accepts unicode string

ex : str = **u** " string.... " ;

In [ ]:
str1 = u"ðŸ˜Š"; # 'u' helps to identify unicode character

str2 = u"ðŸ¤£";

print(str1 , str2);

ðŸ˜Š ðŸ¤£

***Boolean Literal***

In [ ]:
a = True + 1 ; # True implicit type conversion to 1
b = False + 2; # similary b False => 0
print(a , b);

2 2

**Any Variable in Python CANNOT be left Uninitalized**


**If A Variable is Declared the It HAS TO BE initialized**

**None**

used to initialize variables that are just ment to be declared for now then used / initialized AFTERWARDS....

In [ ]:
var = None; # just to declare a variable
print(var);

None



---

6. **Operators**

In [ ]:
x = 20;
y = 2;

f = 3;

print( x ** y ) # x to the power of y

print( x // f ) # integer divison { returns an Integer Quotient ONLY }

print( x / f )  # decimal divison { returns a decimal Quotient ONLY }

400
6
6.666666666666667

***Logical Operators***

In [ ]:
# Logical Operators
x = True;
y = False;

print(x or y);

print(x and y);

print( not x );

True
False
False

***Bitwise Operator***

In [ ]:
# Bitwise Operators

x = 3;
y = 2;

print( " and " , x & y); # and

print(" or " , x | y); # or

print(" one's complement / negation " , ~x ); # one's complement

print(" right shift " ,  x >> 2); # right shift by 2

print( " left shift " , y << 3); # left shift by 3

 and  2
 or  3
 one's complement / negation  -4
 right shift  0
 left shift  16

***a++* && *++a* ARE NOT VALID IN PYTHON**

**Identity Operator** : used to compare the *object's memory location*


***is*** : returns true if both variables are the same object

In [ ]:
a = 3;
b = 3;

print("Id of variable 'a' :" , id(a));
print("Id of variable 'b' :" , id(b));

print(a is b);

Id of variable 'a' : 11256128
Id of variable 'b' : 11256128
True

 ```
 is == 'True' does not apply for Lists or string
 ```

In [ ]:
# Example

In [ ]:
a = "hello";
b = "hello";

print(a is b);

True

In [ ]:
a = [1,2,3];
b = [1,2,3];

print(a is b);

False

In [ ]:
a = "hello-world";
b = "hello-world";

print(a is b);

False



---

In [ ]:
z = True + 1; 
print(z);  # converts True to 1 . { True => 1 }

y = 1;

print(not y);

2
False



---

**Membership Operator**

***Used to validate the membership of a value.***

***only applicable for ITERATABLE objects***

In [ ]:
x = "Delhi";

print('D' in x);

True



---

**7. Conditional Statements**


***else if === elif***

In [ ]:
# correct email : abcd123@gmail.com
# password : 1234

user_email = input("Enter Email :");

user_password = int(input("enter Password :"));

if(user_email == "abcd123@gmail.com" and user_password == 1234 ) :
  print("welcome! ðŸ‘‹");

elif(user_email == "abcd123@gmail.com") :
    print("password incorrect!");
    user_password = int(input("enter password again"));
    # nested if-else
    if(user_password == 1234) :
      print("welcome! ðŸ‘‹");

    else :
      print("invalid credentials ðŸ–•");

else : 
  print("invalid credentials ðŸ–•");

Enter Email :abcd123@gmail.com
enter Password :1234
welcome! ðŸ‘‹

**Indentation**

In [ ]:
if( 5 == '5') :
  print("hello");



---

**8. Loops**

*  while loop

``syntax: while (condition) : code ; `` 

*  for loop

**python does not support " do-while " loop**

In [ ]:
i = 5;

while( i > 0 ) :
      print(i);
      i = i - 1;

5
4
3
2
1

Examplary Game

In [ ]:
import random

jackpot = random.randint(1 , 10);
# print(jackpot);

guess = int(input("Guess the number "));

guesses = 1;

while(guess != jackpot) :
    if(guess < jackpot) :
        print("Guess higher");
        guess = int(input("Guess the number "));
        guesses += 1;


    else :
        print("Guess lower");
        guess = int(input("Guess the number "));
        guess += 1;

print("\nRight Answer!! \nNo. of guesses :" , guesses);

Guess the number 6

Right Answer!!
No. of guesses : 1

for - loop

range(a , b , step) => 

*returns all numbers from a to b - 1.*

*, **step** parameter increases the iteration by step value*

*if " a " not provided , then assumed value of a == 0*

In [ ]:
# Examples

print("1. " , list(range(1 , 11)));

print("\n");

print("2. 'a' parameter not provided :" , list(range(10)));

print("\n");

print("3. step = 2 " , list(range(0 , 11 , 2)));

print("\n");

print("4. backwards " , list(range(10 , 0 , -1)));

1.  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


2. 'a' parameter not provided : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]


3. step = 2  [0, 2, 4, 6, 8, 10]


4. backwards  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

for loop traverses on sequences(list, string , sets, tuples etc. ) and range( ) function

In [ ]:
# example of for loop

for i in range(1 , 10) : # here step by default is +1
  print(i);

1
2
3
4
5
6
7
8
9

In [ ]:
# reverse for - loop

for i in range(10 , 0 , -1) : # -1 is the step
    print(i);

10
9
8
7
6
5
4
3
2
1

In [ ]:
# for loop on a string

for i in "Kolkata":
    print(i);

K
o
l
k
a
t
a

In [ ]:
for i in { 1 , 2 , 3, 4 , 5} :
    print(i);

1
2
3
4
5

Nested Loops

In [ ]:
# printing pattern

row = int(input("enter the number of rows: "));

for i in range(1 , row+1) :
  for j in range(1 , i) :
    print("*" , end="");
    
  print();

enter the number of rows: 10

*
**
***
****
*****
******
*******
********
*********

**Break**  , **Continue** & **Pass**

**Pass** : *is just a filler*

In [ ]:

# 'break' used in Linear Search

my_list = ["Kevin" , "James" , "Stephen" , "Kobe" , "Jordan"];

for i in my_list :
  if i == "Kobe" :
    print("Found !");
    break;

  print("Finding....")

Finding....
Finding....
Finding....
Found !

In [ ]:
# example of 'continue'

for i in range(1 , 11) :
  if i == 5 :
    print("continue encounted! \nSkip the code below it.");
    continue
  print(i);

1
2
3
4
continue encounted!
Skip the code below it.
6
7
8
9
10

In [ ]:
# example of 'pass'

for i in range(1 , 5) :
  # code to be added later
  pass;



---

**9. Functions**

**Built-in Functions**



*   print()

*   input()

*   type() : tells the data type

*   int() , float() , list() , string() , etc.... converting to a data type

In [ ]:
print(abs(-1)); # modulus function
print(abs(5));
print(abs(0 - 1j)); #modulus of complex number

1
5
1.0

In [ ]:
# pow() power(a , b) => a ^ b

print(pow(2 , 3));
print(pow(4 + 5j , 3));

8
(-236+115j)

In [ ]:
# min / max 
# in min() / max() we have to pass "iterables"(like string , list , tuples etc..)

print(min([2,3,4,5,1,-1]));

# for strings min/max is taken lexicographically
print(min("kolkata"))

print(max("kolkata"))

-1
a
t

In [ ]:
# round()

c = 22 / 7;
print(c);

# after rounding....
print(round(c));

print(round(c , 3));

3.142857142857143
3
3.143

In [ ]:
# divmod()
# returns tuple
# returns (x // y , x % y);
# x // y => means integer quotient (integer division)....
# x % y => means modulus / returns remainder....
print(divmod(5 , 2));

print(divmod(10 , 3));

(2, 1)
(3, 1)

In [ ]:
# bin() / oct() / hex()

print(bin(4)); # binary of 4

print(oct(9)); # octal of 4

print(hex(23));

0b100
0o11
0x17

In [ ]:
# id() :- returns the address of a variable

c = 22;

print(id(c));

print(id(33));

11256736
11257088

In [ ]:
# ord() :- returns ASCII code of a value

print(ord('A'));

print(ord('a'));

print(ord('z'));

65
97
122

In [ ]:
# len() : returns length of iterable

my_list = [1,2,3,4,5,6,7];

print(len(my_list));

7

In [ ]:
# sum() : sum of ITERATABLE

print(sum({1,2,3,4,5}));

# print(sum("ABC")); CANNOT ITRERATE OVER NON - NUMERIC

15

IF WE DON'T KNOW ABOUT ANY FUNCTION...
TO KNOW , WE CAN USE help()

In [ ]:
help("input");

Help on method raw_input in module ipykernel.kernelbase:

input = raw_input(prompt='') method of google.colab._kernel.Kernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplentedError if active frontend doesn't support stdin.



---

**8. Modules** : a file containing a set of functions which can be used when we import the module.

In [ ]:
print(help("modules")); # returns list of all the modules that are available to be imported

Please wait a moment while I gather a list of all available modules...

/usr/local/lib/python3.7/dist-packages/IPython/kernel/__init__.py:13: ShimWarning: The `IPython.kernel` package has been deprecated since IPython 4.0.You should import from ipykernel or jupyter_client instead.
  "You should import from ipykernel or jupyter_client instead.", ShimWarning)
WARNING: AstropyDeprecationWarning: The private astropy._erfa module has been made into its own package, pyerfa, which is a dependency of astropy and can be imported directly using "import erfa" [astropy._erfa]
WARNING:astropy:AstropyDeprecationWarning: The private astropy._erfa module has been made into its own package, pyerfa, which is a dependency of astropy and can be imported directly using "import erfa"
/usr/local/lib/python3.7/dist-packages/caffe2/__init__.py:5: UserWarning: Caffe2 support is not fully enabled in this PyTorch build. Please enable Caffe2 by building PyTorch from source with `BUILD_CAFFE2=1` flag.
  warnings.warn("Caffe2 support is not fully enabled in this PyTorch build. "
/usr/local/lib/python3.7/dist-packages/caffe2/proto/__init__.py:17: UserWarning: Caffe2 support is not enabled in this PyTorch build. Please enable Caffe2 by building PyTorch from source with `BUILD_CAFFE2=1` flag.
  warnings.warn('Caffe2 support is not enabled in this PyTorch build. '
/usr/local/lib/python3.7/dist-packages/caffe2/proto/__init__.py:17: UserWarning: Caffe2 support is not enabled in this PyTorch build. Please enable Caffe2 by building PyTorch from source with `BUILD_CAFFE2=1` flag.
  warnings.warn('Caffe2 support is not enabled in this PyTorch build. '
/usr/local/lib/python3.7/dist-packages/caffe2/python/__init__.py:9: UserWarning: Caffe2 support is not enabled in this PyTorch build. Please enable Caffe2 by building PyTorch from source with `BUILD_CAFFE2=1` flag.
  warnings.warn('Caffe2 support is not enabled in this PyTorch build. '
/usr/local/lib/python3.7/dist-packages/past/types/oldstr.py:5: DeprecationWarning:

Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working

/usr/local/lib/python3.7/dist-packages/intervaltree/intervaltree.py:37: DeprecationWarning:

Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working

/usr/local/lib/python3.7/dist-packages/jupyter_client/ssh/tunnel.py:57: DeprecationWarning:

zmq.utils.strtypes is deprecated in pyzmq 23.

/usr/local/lib/python3.7/dist-packages/librosa/core/constantq.py:1059: DeprecationWarning:

`np.complex` is a deprecated alias for the builtin `complex`. To silence this warning, use `complex` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.complex128` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/usr/local/lib/python3.7/dist-packages/llvmlite/llvmpy/__init__.py:4: UserWarning:

The module `llvmlite.llvmpy` is deprecated and will be removed in the future.

Downloading http://dlib.net/files/shape_predictor_68_face_landmarks.dat.bz2 to /root/mlxtend_data/shape_predictor_68_face_landmarks.dat.bz2

/usr/local/lib/python3.7/dist-packages/nbconvert/filters/strings.py:22: DeprecationWarning:

defusedxml.cElementTree is deprecated, import from defusedxml.ElementTree instead.

/usr/local/lib/python3.7/dist-packages/nibabel/quaternions.py:31: DeprecationWarning:

`np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/usr/lib/python3.7/pkgutil.py:92: UserWarning:

The DICOM readers are highly experimental, unstable, and only work for Siemens time-series at the moment
Please use with caution.  We would be grateful for your help in improving them

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:21: UserWarning:

The twython library has not been installed. Some functionality from the twitter package will not be available.

/usr/local/lib/python3.7/dist-packages/pip/_vendor/packaging/version.py:130: DeprecationWarning:

Creating a LegacyVersion has been deprecated and will be removed in the next major release

/usr/local/lib/python3.7/dist-packages/pip/_vendor/packaging/version.py:130: DeprecationWarning:

Creating a LegacyVersion has been deprecated and will be removed in the next major release

/usr/local/lib/python3.7/dist-packages/theano/scalar/basic.py:2412: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
/usr/local/lib/python3.7/dist-packages/theano/tensor/basic.py:369: DeprecationWarning: `np.complex` is a deprecated alias for the builtin `complex`. To silence this warning, use `complex` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.complex128` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
/usr/local/lib/python3.7/dist-packages/pymc3/distributions/distribution.py:386: DeprecationWarning: Call to deprecated Parameter testval. (replaced by `initval` in PyMC 4.0.0) -- Deprecated since v3.11.5.
/usr/lib/python3.7/pkgutil.py:92: UserWarning: Viewer requires Qt
/usr/local/lib/python3.7/dist-packages/sphinx/websupport/__init__.py:25: RemovedInSphinx20Warning: sphinx.websupport module is now provided as sphinxcontrib-websupport. sphinx.websupport will be removed at Sphinx-2.0. Please use the package instead.
/usr/local/lib/python3.7/dist-packages/marshmallow/fields.py:569: RemovedInMarshmallow4Warning: The 'missing' argument to fields is deprecated. Use 'load_default' instead.
/usr/local/lib/python3.7/dist-packages/tensorboard/_vendor/html5lib/filters/sanitizer.py:29: DeprecationWarning: html5lib's sanitizer is deprecated; see https://github.com/html5lib/html5lib-python/issues/443 and please let us know if Bleach is unsuitable for your needs
/usr/local/lib/python3.7/dist-packages/torch/distributed/_sharded_tensor/__init__.py:10: DeprecationWarning: torch.distributed._sharded_tensor will be deprecated, use torch.distributed._shard.sharded_tensor instead
/usr/local/lib/python3.7/dist-packages/torch/distributed/_sharding_spec/__init__.py:10: DeprecationWarning: torch.distributed._sharding_spec will be deprecated, use torch.distributed._shard.sharding_spec instead

No CUDA runtime is found, using CUDA_HOME='/usr/local/cuda'
Cython              colorcet            keras_preprocessing rmagic
IPython             colorlover          keyword             rpy2
OpenGL              colorsys            kiwisolver          rsa
PIL                 community           korean_lunar_calendar runpy
ScreenResolution    compileall          langcodes           samples
__future__          concurrent          lib2to3             sched
_abc                configparser        libfuturize         scipy
_ast                contextlib          libpasteurize       scs
_asyncio            contextlib2         librosa             seaborn
_bisect             contextvars         lightgbm            secrets
_blake2             convertdate         linecache           select
_bootlocale         copy                llvmlite            selectors
_bz2                copyreg             lmdb                semver
_cffi_backend       crashtest           locale              send2trash
_codecs             crcmod              locket              setuptools
_codecs_cn          crypt               logging             setuptools_git
_codecs_hk          csimdjson           lsb_release         shapely
_codecs_iso2022     csv                 lunarcalendar       shelve
_codecs_jp          ctypes              lxml                shlex
_codecs_kr          cufflinks           lzma                shutil
_codecs_tw          curses              macpath             signal
_collections        cv2                 mailbox             simdjson
_collections_abc    cvxopt              mailcap             site
_compat_pickle      cvxpy               markdown            sitecustomize
_compression        cycler              markupsafe          six
_contextvars        cymem               marshal             skimage
_crypt              cython              marshmallow         sklearn
_csv                cythonmagic         math                sklearn_pandas
_ctypes             daft                matplotlib          slugify
_ctypes_test        dask                matplotlib_venn     smart_open
_curses             dataclasses         mimetypes           smtpd
_curses_panel       datascience         missingno           smtplib
_cvxcore            datetime            mistune             sndhdr
_datetime           dateutil            mizani              snowballstemmer
_dbm                dbm                 mlxtend             socket
_decimal            dbus                mmap                socketserver
_distutils_hack     debugpy             modulefinder        socks
_dlib_pybind11      decimal             more_itertools      sockshandler
_dummy_thread       decorator           moviepy             softwareproperties
_ecos               defusedxml          mpmath              sortedcontainers
_elementtree        deprecat            msgpack             soundfile
_functools          descartes           multidict           spacy
_hashlib            difflib             multiprocessing     spacy_legacy
_heapq              dill                multitasking        spacy_loggers
_imp                dis                 murmurhash          sphinx
_io                 distributed         music21             spwd
_json               distutils           natsort             sql
_locale             dlib                nbconvert           sqlalchemy
_lsprof             docs                nbformat            sqlite3
_lzma               doctest             netCDF4             sqlparse
_markupbase         docutils            netrc               sre_compile
_md5                dopamine            networkx            sre_constants
_multibytecodec     dot_parser          nibabel             sre_parse
_multiprocessing    dummy_threading     nis                 srsly
_opcode             easydict            nisext              ssl
_operator           ecos                nltk                stan
_osx_support        editdistance        nntplib             stat
_pickle             ee                  notebook            statistics
_plotly_future_     email               ntpath              statsmodels
_plotly_utils       en_core_web_sm      nturl2path          storemagic
_posixsubprocess    encodings           numba               string
_py_abc             entrypoints         numbergen           stringprep
_pydecimal          enum                numbers             struct
_pyio               ephem               numexpr             subprocess
_pyrsistent_version erfa                numpy               sunau
_pytest             errno               oauth2client        symbol
_queue              et_xmlfile          oauthlib            sympy
_random             etils               ogr                 sympyprinting
_rinterface_cffi_abi fa2                 okgrade             symtable
_rinterface_cffi_api fastai              opcode              sys
_scs_direct         fastcore            openpyxl            sysconfig
_scs_indirect       fastdownload        operator            syslog
_sha1               fastdtw             opt_einsum          tables
_sha256             fastjsonschema      optparse            tabnanny
_sha3               fastprogress        os                  tabulate
_sha512             fastrlock           osgeo               tarfile
_signal             faulthandler        osqp                tblib
_sitebuiltins       fcntl               osqppurepy          telnetlib
_socket             feather             osr                 tempfile
_soundfile          filecmp             ossaudiodev         tenacity
_sqlite3            fileinput           packaging           tensorboard
_sre                filelock            palettable          tensorboard_data_server
_ssl                firebase_admin      pandas              tensorboard_plugin_wit
_stat               fix_yahoo_finance   pandas_datareader   tensorflow
_string             flask               pandas_gbq          tensorflow_datasets
_strptime           flatbuffers         pandas_profiling    tensorflow_estimator
_struct             fnmatch             pandocfilters       tensorflow_gcs_config
_symtable           folium              panel               tensorflow_hub
_sysconfigdata_m_linux_x86_64-linux-gnu formatter           param               tensorflow_io_gcs_filesystem
_sysconfigdata_m_x86_64-linux-gnu fractions           parser              tensorflow_metadata
_testbuffer         frozenlist          parso               tensorflow_probability
_testcapi           fsspec              partd               termcolor
_testimportmultiple ftplib              past                terminado
_testmultiphase     functools           pasta               termios
_thread             future              pastel              test
_threading_local    gast                pathlib             testpath
_tkinter            gc                  pathy               tests
_tracemalloc        gdal                patsy               text_unidecode
_warnings           gdalconst           pdb                 textblob
_weakref            gdalnumeric         pep517              textwrap
_weakrefset         gdown               pexpect             theano
_xxtestfuzz         genericpath         pickle              thinc
_yaml               gensim              pickleshare         this
abc                 geographiclib       pickletools         threading
absl                geopy               pip                 threadpoolctl
aifc                getopt              pipes               tifffile
aiohttp             getpass             piptools            time
aiosignal           gettext             pkg_resources       timeit
alabaster           gi                  pkgutil             tkinter
albumentations      gin                 platform            tlz
altair              glob                plistlib            token
antigravity         glob2               plotly              tokenize
apiclient           gnm                 plotlywidget        toml
appdirs             google_auth_httplib2 plotnine            tomli
apt                 google_auth_oauthlib pluggy              toolz
apt_inst            google_drive_downloader pooch               torch
apt_pkg             googleapiclient     poplib              torchaudio
aptsources          googlesearch        portpicker          torchgen
argparse            graphviz            posix               torchsummary
array               greenlet            posixpath           torchtext
arviz               gridfs              pprint              torchvision
ast                 grp                 prefetch_generator  tornado
astor               grpc                preshed             tqdm
astropy             gspread             prettytable         trace
astunparse          gspread_dataframe   profile             traceback
async_timeout       gym                 progressbar         tracemalloc
asynchat            gym_notices         promise             traitlets
asyncio             gzip                prompt_toolkit      tree
asyncore            h5py                prophet             tty
asynctest           hashlib             pstats              turtle
atari_py            heapdict            psutil              tweepy
atexit              heapq               psycopg2            typeguard
atomicwrites        hijri_converter     pty                 typer
attr                hmac                ptyprocess          types
attrs               holidays            pvectorc            typing
audioop             holoviews           pwd                 typing_extensions
audioread           html                py                  tzlocal
autograd            html5lib            py_compile          ujson
autoreload          http                pyarrow             unicodedata
babel               httpimport          pyasn1              unittest
backcall            httplib2            pyasn1_modules      uritemplate
base64              httplib2shim        pyclbr              urllib
bdb                 httpstan            pycocotools         urllib3
bin                 humanize            pycparser           uu
binascii            hyperopt            pyct                uuid
binhex              idna                pydantic            vega_datasets
bisect              imageio             pydata_google_auth  venv
bleach              imagesize           pydoc               vis
blis                imaplib             pydoc_data          warnings
bokeh               imblearn            pydot               wasabi
boost               imgaug              pydot_ng            wave
branca              imghdr              pydotplus           wcwidth
bs4                 imp                 pydrive             weakref
bson                importlib           pyemd               webargs
builtins            importlib_metadata  pyexpat             webbrowser
bz2                 importlib_resources pygments            webencodings
cProfile            imutils             pygtkcompat         werkzeug
cachecontrol        inflect             pylab               wheel
cached_property     inspect             pylev               widgetsnbextension
cachetools          intervaltree        pymc3               wordcloud
caffe2              io                  pymeeus             wrapt
calendar            ipaddress           pymongo             wsgiref
catalogue           ipykernel           pymystem3           xarray
certifi             ipykernel_launcher  pyparsing           xarray_einstats
cffi                ipython_genutils    pyrsistent          xdrlib
cftime              ipywidgets          pysndfile           xgboost
cgi                 isympy              pytest              xkit
cgitb               itertools           python_utils        xlrd
chardet             itsdangerous        pytz                xlwt
charset_normalizer  jax                 pyviz_comms         xml
chess               jaxlib              pywt                xmlrpc
chunk               jieba               pyximport           xxlimited
clang               jinja2              qdldl               xxsubtype
click               joblib              qudida              yaml
client              jpeg4py             queue               yarl
clikit              json                quopri              yellowbrick
cloudpickle         jsonschema          random              zict
cmake               jupyter             re                  zipapp
cmath               jupyter_client      readline            zipfile
cmd                 jupyter_console     regex               zipimport
cmdstanpy           jupyter_core        reprlib             zipp
code                jupyterlab_plotly   requests            zlib
codecs              jupyterlab_widgets  requests_oauthlib   zmq
codeop              kaggle              resampy
colab               kapre               resource
collections         keras               rlcompleter

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

None

/usr/lib/python3.7/pkgutil.py:107: VisibleDeprecationWarning: zmq.eventloop.minitornado is deprecated in pyzmq 14.0 and will be removed.
    Install tornado itself to use zmq with the tornado IOLoop.

In [ ]:
# 'import' keyword to import a module

import math;
import random;

print(random.randint(1 ,10));

print(math.ceil(5.78));

print(math.ceil(-4.78));

print(math.floor(-4.3));

print(math.pi);

print(math.sqrt(225));

my_list = [1,2,3,4,5];
random.shuffle(my_list);
print(my_list);

str1 = "balloon"; # not allowed to shuffle

str2 = ['A ', 'B' , 'C' ];
random.shuffle(str2);
print(str2);

# time module

import time;

print("time : " , time.time());

print("Hello");
time.sleep(2);
print("World");

# os modules
import os;

print(os.getcwd());
print(os.listdir());

2
6
-4
-5
3.141592653589793
15.0
[3, 4, 5, 1, 2]
['C', 'A ', 'B']
time :  1661380835.8617668
Hello
World
/content
['.config', 'sample_data']



---

**10. Strings**

C is systems programming language

Java , Python are application programming language (User interaction) hence they have support of strings

***Strings are a sequence of UNICODE characters***

In [ ]:
# Creating
str = "hello";
print(str);

hello

**INDEXING**

* POSITIVE 0 , 1 , 2 , ETC....

* NEGATIVE -1 , -2 , -3 , -4 , ETC.....

In [ ]:
# postive indexing
print("\nPostive Indexing",str[0] , str[1] , str[2] , str[3] , str[4] );

# negative indexing
print("\nNegative Indexing: ",str[-1] , str[-2] , str[-3] , str[-4] , str[-5] );

Postive Indexing h e l l o

Negative Indexing:  o l l e h

**Slicing**

In [ ]:
str = "mountain";

print(str[0:5] , end="\n\n");

# Obtaining Substring
print("* Substring from [0 to 2) ->", str[0:2] , end="\n\n");

print("* Substring from [2nd index : till end ->",str[2:] , end="\n\n");

print("* Not specifying neither Starting Nor Ending Position ->" , str[:],end="\n\n");

# using the STEP
print("* Step == 2 -> " , str[::2]); # print entire string just with step 2;
# m o u n t a i n
# 0 1 2 3 4 5 6 7
# 1 0 1 0 1 0 1 0

print("* " , str[0:5:3], end="\n\n");

print("* Slicing with Negative Indexing ->" , )

mount

* Substring from [0 to 2) -> mo

* Substring from [2nd index : till end -> untain

* Not specifying neither Starting Nor Ending Position -> mountain

* Step == 2 ->  muti
*  mn

In [ ]:
# REVERSING A STRING

str = "Hello World";

print(str[: : -1]);

# or 
print(str[-1: -12 : -1]);

dlroW olleH
dlroW olleH

**Editing &  Deleting String**


***Strings are IMMUTABLE in python***

In [ ]:
str = "Hello";

str[0] = 'M';

TypeError: ignored

*Deletetion of String*


To Delete string : **del** string_name

In [ ]:
str = "hello";

del str;

print(str);

<class 'str'>

**Operations On Strings**

* Arithmetic : 
concatenation , multiplication

* Relational
* Logical
* Loops
* Membership

In [ ]:
c = "Kevin";
c = c + " Durant"; # concatenation

print(c, end="\n\n");

#---------------------

# string multiplication
print("*" * 50);
print("ball\n" * 5);

Kevin Durant

**************************************************
ball
ball
ball
ball
ball

relational operators

In [ ]:
print("Hello" != "World");

True

In [ ]:
print("James" > "Jack");
print("Jack" > 'Z');
# lexicographically checking

True
False

logical operations

**Empty Strings = FALSE**

**Non-Empty String = TRUE**

In [ ]:
print("1. ",""  and "Hello");

print("2. "," " and "Hello");

print("3. ","Hello" and "World");

print("4. ","" or "Hello");

print("5. "," " or "Hello");

print("6. ","Hello" or "World");

print("7. " ,not "Hello");

1.
2.  Hello
3.  World
4.  Hello
5.
6.  Hello
7.  False

Loops

In [ ]:
str = "Mountain";

for i in str :
  print(i , end=" ");

print();

# for iterating over a substring
for i in str[4:] :
  print(i , end=" "); 

print();

for i in str[-1::-2] :
  print(i , end=" ")

M o u n t a i n
t a i n
n a n o

Membership Operator

In [ ]:
print('M' in str);

print('N' not in str);

print('B' in str);

True
True
False

**String Functions**

**Common Functions**

*   len
*   max
*   min
*   sorted

***sorted()*** is a common function but works on a string as well.

it sorts the given string on the basis of ASCII values.

returns a **list of characters** in sorted array.

HIDDEN PARAMETER **"reverse" =** False **BY DEFAULT**

In [ ]:
# sorted() : sorts according to the ASCII value in ascending order
str = "Hello";
print(sorted(str));

# parameter => reverse = True (by default)
print(sorted(str , reverse=True));

['H', 'e', 'l', 'l', 'o']
['o', 'l', 'l', 'e', 'H']

* Capitalize : Capitalizes the first    character of the Stirng

* Title : **Every Alphabet of First Word** is capitalized and others letters of the word are made LowerCase

* Upper : Every Character in String
* Lower : Every Character in String
* Swapcase : Converts all Lower to Upper &  Vice-versa

In [ ]:
# capitalize()

c = "kolkata";
b = "m";
print(c.capitalize()); # string.capitalize() does not manipulate the original string
print(c);
print(b.capitalize());

Kolkata
kolkata
M

In [ ]:
# title

str6 = "it's rainiNG today.";
print(str6.title());

It'S Raining Today.

In [ ]:
print(str6.upper());
print(str6.lower());

IT'S RAINING TODAY.
it's raining today.

In [ ]:
print("KOlKatA".swapcase());

koLkATa

***count()*** : counts the frequency of a SubString

In [ ]:
str7 = "hello hell helicpoter";

print("count of  'h' :" , str7.count("h"));

print("count of 'hel' :" , str7.count("hel"));

print("count of 'man' : " , str7.count("man"));

count of  'h' : 3
count of 'hel' : 3
count of 'man' :  0

**Find / Index** : returns the position/index of the given substring

In [ ]:
str7 = "it is raining";
print(str7.index("i")); # returns first occurence
print(str7.find("x")); # if substring not present in string => return -1

# index() returns Exception if substring NOT FOUND
# find() returns -1 if String NOT FOUND

0
-1

String **endswith / startswith** : returns TRUE / FALSE

In [ ]:
str7 = "it is raining";

print(str7.endswith("ing"));

print(str7.endswith("hello"))

True
False

**format()**

In [ ]:
myName = "Nishant"
myAge = 21;


str8 = "Hello my name is {name}. I'm {age} years old.";
 
print(str8.format(name = myName , age = myAge));

# or

str9 = "your name is {0}. your age is {1}.";
print(str9.format("kevin" , 33)); # formatted according to ARGUMENT INDEX
print(str9.format(33 , "kevin"));

Hello my name is Nishant. I'm 21 years old.
your name is kevin. your age is 33.
your name is 33. your age is kevin.

**isalnum(alpha-numeric only) / isalpha / isdecimal / isdigit / isidentifier**

In [ ]:
# isalnum() - ALPHANUMERIC ONLY!
print("FLAT20".isalnum());
print("FLAT20%".isalnum());

True
False

In [ ]:
#isalpha() - ALPHABETICAL
print("ABCD".isalpha());
print("ABCD123".isalpha());

True
False

In [ ]:
#isidentifier()
print("hello_world".isidentifier());
print("$myName".isidentifier());
print("12name12".isidentifier());
print("name12".isidentifier());
print("_name12".isidentifier());

True
False
False
True
True

**split()** : converts the list into string

In [ ]:
str9 = "this is show time";
print(str9.split()); # converts string to List

['this', 'is', 'show', 'time']

In [ ]:
print(str9.split('i'));

['th', 's ', 's show t', 'me']

In [ ]:
print(str9.split('z')); # 'z' not present...
# will return original string.

['this is show time']

**join()** : converts list to string

In [ ]:
array = ['h', 'e' , 'l' , 'l' , 'o'];
print("".join(array)); # "" using for joining

print("/".join(array)); # "/" using for joining

print(" ".join(array));

hello
h/e/l/l/o
h e l l o

**replace()** : replace a substring with another one.

***str.replace(what to replace , the replacement);***

> DOES **NOT** MANIPULATE THE ENTIRE STRING

In [ ]:
str9 = "Hello my name is James";

print(str9.replace("James" , "Kevin"));

print(str9);

print(str9.replace("Hello my name is " , "I'm "));

print(str9.replace("zo" , "I'm "));

Hello my name is Kevin
Hello my name is James
I'm James
Hello my name is James

**strip()**: 
trims leading and trailing spaces



---

**List**

* list does not have contiguous memory allocation

* list are hetrogenous

* list also supports NEGATIVE INDEXING

* list are mutable

In [ ]:
# 2D LIST
l1 = [1 ,2 , [3 , 4]];
print(l1);

[1, 2, [3, 4]]

In [ ]:
l2 = [ 1 , 2 , 3 , 4 , 5 ];

# accessing a list
print(l2[-1]);

print(l2[0]);

# 2D List
l3 = [10 , 20 , [ 30 , 40 ]];
print(l3[2][0]);

# 3D List
l4 = [ [ [1,2] , [3,4] ] , [ [5,6] , [7,8] ] ];
print(l4[0][0][0]);

5
1
30
1

***editing***

In [ ]:
l2 = [ 1 , 2 , 3 , 4 , 5 ];
l2[0] = 100;

print(l2);

[100, 2, 3, 4, 5]

***slice on a list***

In [ ]:
l2[0::2]

[100, 3, 5]

STRINGS ARE NOT MUTABLE IN PYTHON

In [ ]:
str = "MyString";
str[0]='m';

TypeError: ignored

**ADD**
* append : adds only one items at a time

* extend : helps to append multiple items at one time

* insert : ***list.insert(index , object)***

In [ ]:
l2 = [ 1 , 2 , 3 , 4 , 5 ];
l2.append(1001); # adds the object At Last
print(l2);

[1, 2, 3, 4, 5, 1001]

In [ ]:
l2.extend([2001 , 2002, "Russel Wilson"]);
print(l2);

l2.extend("goa");
print("converts the string into a list of characters and then Appends " , l2);

[1, 2, 3, 4, 5, 1001, 2001, 2002, 'Russel Wilson', 2001, 2002, 'Russel Wilson', 2001, 2002, 'Russel Wilson']
converts the string into a list of characters and then Appends  [1, 2, 3, 4, 5, 1001, 2001, 2002, 'Russel Wilson', 2001, 2002, 'Russel Wilson', 2001, 2002, 'Russel Wilson', 'g', 'o', 'a']

In [ ]:
l2.insert(2 , "object@2");
print(l2);

[1, 2, 'object@2', 'object@2', 'object@2', 3, 4, 5, 1001, 2001, 2002, 'Russel Wilson', 2001, 2002, 'Russel Wilson', 2001, 2002, 'Russel Wilson', 'g', 'o', 'a']

**deletion**

* del : ***del list[index]***
* remove : ***list.remove(object)***
* pop : always removes the last object
* clear : clears the List

In [ ]:
# del
l2 = [1 , 2, 3 ,4 ,5 ,6];
del l2[0];
del l2[-1]
print("del ",l2);

# remove
l2.remove(4);
print("remove ",l2);

#pop
l2.pop();
print("pop " , l2);

#clear : empties the list
l2.clear();
print("clear ",l2);

del  [2, 3, 4, 5]
remove  [2, 3, 5]
pop  [2, 3]
clear  []

**operations**

In [ ]:
l1 = [1 ,2 ,4];
l2 = [3 , 5 , 6];

l3 = l1 + l2; # adding 2 List
print(l3);

# list * 3 => every element of the list will occur x times
print(l3*3); # DOES NOT manipulate the original list...
              # returns A NEW LIST

# traversing a list
for i in l3:
  print(i , end=" ");
print();

l3.extend([[100 , 200]]);
print(l3);

# membership operator
print(200 in l3);

[1, 2, 4, 3, 5, 6]
[1, 2, 4, 3, 5, 6, 1, 2, 4, 3, 5, 6, 1, 2, 4, 3, 5, 6]
1 2 4 3 5 6
[1, 2, 4, 3, 5, 6, [100, 200]]
False

**functions in a List**

In [ ]:
# obtain length
print("len " , len(l3));

# print(l3);
# minimum element
print("min ", min(l3[0:6]));

print("max " , max(l3[0:6]));

# sorted : it's not a permanent operation.IT GENERATES A NEW LIST
print("sorted() " ,sorted(l3[0:6] , reverse=True));

l3 = [6 , 7 , 1 , 3, 4 , 110 , 0 , -2];

## sort() : ITS A PERMANENT OPERATION .... MODIFIES THE LIST
l3.sort();
print("sort() " , l3);

len  8
min  -2
max  6
sorted()  [6, 4, 3, 1, 0, -2]
sort()  [-2, 0, 1, 3, 4, 6, 7, 110]

**SORTED VS SORT**

> SORT() : ***MODIFIES THE LIST***

> SOERTED() : ***DOES NOT MODIFIES THE LIST***



---

**TUPLES** are READ-ONLY data types

***tuples => ( )***

***Single Item Tuple***

T3 = (object**,**);  // Comma Is A Must //

In [ ]:
T1 = (1); # cannot be a tuple
print(type(T1));

# to form / define a Single Item Tuple 
T2 = ("Hello" , );
print(type(T2));

<class 'int'>
<class 'tuple'>

***tuple()*** To Create A Tuple

**ACCESSING ELEMENTS OF A TUPLE IS SAME AS THAT OF LISTS.**

In [ ]:
# accessing elements in tuple

T2 = (1 ,2 , 3 , 4 , 5 , (10 , 20));
print(T2[0]);
print(T2[0:4]);
print(T2[-1]);

1
(1, 2, 3, 4)
(10, 20)

***TUPLE DOES NOT SUPPORT EDITING***



**TUPLES ARE IMMUTABLE***

* **Cannot** ADD
* **Cannot** DELETE

In [ ]:
print(T2.sort());

AttributeError: ignored

**CANNOT APPLY ***sort()*** ON TUPLES , since IT MODIFIES THE TUPLE**

---

**SETS** 

sets => { }



1.   DO NOT Allow Duplicates

2.   Sets Have No INDEXING / Slicing

3.   Sets Dont Allow Mutable Data Types(linke list)

4.   Set Itself IS - A MUTABLE DATA TYPE
therefore 2d , 3d , .... sets not possible

5. Sets also SUPPORT Hetrogeneous Data Type

***To Create An Empty Set***

SYNTAX :- mySet = set();

In [ ]:
S1 = {}; # this code will NOT create an Empty Set
print(type(S1));

S1 = set(); # this code creates an empty set
print(type(S1));

# S1 = tuple();
# print(type(S1));

S1 = {1 , 2 , 3, 4 , 4 ,5}; # does not inserts DUPLICATES
print(S1);

<class 'dict'>
<class 'set'>
{1, 2, 3, 4, 5}

**NO MUTABLE DATA TYPES ALLOWED!!!**

In [ ]:
S2 = {[1,2,3] , "HELLO"};

TypeError: ignored

INSTEAD OF **LIST** USE **TUPLES**

In [ ]:
S2 = { (1,2,3) , "hELLO"};
print("Set Using Tuple " , S2);

Set Using Tuple  {'hELLO', (1, 2, 3)}

**SETS DO NOT HAVE INDEXING**

**SETS USE HASHING**



```
# Sets Do Not Support Item Assignment
```

In [ ]:
S2[0] = "One";

TypeError: ignored

ADD Items In Set

In [ ]:
S2.add("Third Item");
print(S2);

{'hELLO', 'Third Item', (1, 2, 3)}

To Delete

* del : 
syntax:- del S2[0] // not allowed

> del S2; ***# will delete the entire set***

* remove
* pop

In [ ]:
print(S2);


S2.remove((1,2,3));
print("remove() " , S2);

S2.pop();
print("After pop() " , S2);

{'hELLO', 'Third Item', (1, 2, 3)}
remove()  {'hELLO', 'Third Item'}
After pop()  {'Third Item'}

SET OPERATIONS

* SETS **DONT** SUPPORT CONCATENATION

In [ ]:
print(S2);

S3 = {(3,4,5)};

S4 = S2 + S3;

{'Third Item'}

TypeError: ignored

FUNCTIONS

In [ ]:
# S2.remove((1,2,3));

print(S2);

S2.add("Fourth Item")

print(len(S2));

print(min(S2));

print(max(S2));

print(sorted(S2));


S3 = {(5,6,7)  ,  "Boat"};

print(S2.union(S3));

S4  = {"Boat"};

print(S3.intersection(S4));

print(S2.difference(S4));

print(S2.isdisjoint(S4)); # is there nothing common in the two sets

# similarly 
#--------------
# -> issubset()
# -> issuperset()
# -> isdisjoint()

{'Fourth Item', 'Third Item'}
2
Fourth Item
Third Item
['Fourth Item', 'Third Item']
{(5, 6, 7), 'Boat', 'Fourth Item', 'Third Item'}
{'Boat'}
{'Fourth Item', 'Third Item'}
True



---

**DICTIONARY**

* Dictionary => { }
* Key Value Pairs
* Dictionary Has No Indexing
* Keys Should **ALWAYS BE IMMUTABLE**
* Keys should be unique

> **Mutable** -> List / Set / Dictionary


> **Immutable** -> Strings / Tuples / Int / Float / Boolean / Complex

In [ ]:
# creating an Empty Dictionary
D = { };
print(type(D));

D = { 
    "Name" : "Nitish",
    "Gender" : "Male"
};
print(D);

<class 'dict'>
{'Name': 'Nitish', 'Gender': 'Male'}

**Keys Should Be Unique**

In [ ]:
D  = {
    "Name" : "Kevin",
    "Name" : "James"
}

print(D);
# Here the Value Of The Same Key Got Updated...

{'Name': 'James'}

2-D Dictionary

In [ ]:
D = {
    "Name" : "Rohit" , 
     "Age" : "16",
     "Marks" : {
         "Maths" : 80,
         "Science" : 87,
         "English" : 82 
     }
}

print(D);

{'Name': 'Rohit', 'Age': '16', 'Marks': {'Maths': 80, 'Science': 87, 'English': 82}}

Accessing Dictionary

> We need to use the key Inorder to get the values.

> **No indexing & No Slicing**

***syntax*** : Dictionary_Name[Key]

In [ ]:
print(D["Name"]);

print(D["Marks"]["English"]); # Accessing 2-D Dictionary

print(D["Marks"]["Maths"]);

Rohit
82
80

In [ ]:
# Creating A Dictionary Of Numbers

D = {
  80 : "Win",
  81 : "Lose",
  80.5 : "To Be Decided",
  True : "Match Called Off",
  False : "Match Paused",
  #(1,2,3) : "Try Again"
};

print(D);

# we can also use
print(D.get(80)); # Dictionary.get(Key) ONLY FOR 1 DIMENSIONAL DICTIONARY

{80: 'Win', 81: 'Lose', 80.5: 'To Be Decided', True: 'Match Called Off', False: 'Match Paused'}
Win

Add New Key-Value Pairs

In [ ]:
D["Age"] = 22;

print(D);

{80: 'Win', 81: 'Lose', 80.5: 'To Be Decided', True: 'Match Called Off', False: 'Match Paused', 'Age': 22}

Delete

In [ ]:
del D;

***To Delete A Key-Value Pair***

In [ ]:
D = {
    "Name" : "RJ",
     "Age" : 25
}

print("Before Deletion", D);

# deleting a specific key-value pair
del D["Name"];
print("After Deletion", D);

Before Deletion {'Name': 'RJ', 'Age': 25}
After Deletion {'Age': 25}

In [ ]:
D.clear(); # Dictionary Will Become Empty

Operations On Dictionary

In [ ]:
D["Gender"] = "M";
D["City"] = "Dallas";

for i in D:
  print( i , D[i] , sep=" : ");

Age : 25
Gender : M
City : Dallas

***Membership Operator***

Incase of Dictionary , MEMBERSHIP OPERATOR WORKS ON **KEYS ONLY**

In [ ]:
print("City" in D);

print("Pincode" in D);

True
False

**sorted()**

In [ ]:
print(sorted(D));

['Age', 'City', 'Gender']

In [ ]:
print(D.keys());

print();

print(D.values());

dict_keys(['Age', 'Gender', 'City'])

dict_values([25, 'M', 'Dallas'])



---

In Python all calls are **Call By Object Reference**

***Aliasing*** 

example: 
a = 5;
b = a;

In [ ]:
# example of Aliasing

a = 4;
b = 4;
c = b;

print("id of a " , id(a));
print("Id of b " , id(b));
print("Id of c " , id(c));
# All are pointing to the Same Memory Location

del a ; # only the reference of pointer('a') gets deleted and not the actual object
print(c , " id of c : " , id(c));

d = 10;
print("d :-" , d , "id of d : " , id(d));

e = d;
print("e :-" , e , " id of e : " , id(e));

del d; # only pointer of d is deleted
print("After deleting d\n","e :-" , e , " id of e : " , id(e));

id of a  11256160
Id of b  11256160
Id of c  11256160
4  id of c :  11256160
d :- 10 id of d :  11256352
e :- 10  id of e :  11256352
After deleting d
 e :- 10  id of e :  11256352

******************************************

**sys** module:

has a function ***getrefcount()*** to know how many variables are pointing to a memory location.

******************************************

In [ ]:
import sys;

a = "717171";
b = a;
c = b;
ref_count = sys.getrefcount(a);
print(ref_count);

5

RANGE FOR SAME ID : ***-5 TO 256***

In [ ]:
# example

a = 255;
b = 255;
print("id of a :" , id(a) , "\nid of b :" , id(b));

# BUT

a = 257;
b = 257;
print("\nid of a :" , id(a) , "\nid of b :" , id(b));
# now ID's are different

# another one
a = -7;
b = -7;
print("\nid of a :" , id(a) , "\nid of b :" , id(b));

id of a : 11264192
id of b : 11264192

id of a : 140592513324848
id of b : 140592513323472

id of a : 140592513324592
id of b : 140592513325744

Whenever our Strings are in the Format Of Identifiers (like if they are ONLY ALPHANUMERIC  , '_') then ***PYTHON DOES
NOT PRODUCES POINTERS TO SAME MEMORY LOCATION***

In [ ]:
# example

# NOT IN identifier format
a = "Hello World";
b = "Hello World";
print("\nid of a :" , id(a) , "\nid of b :" , id(b));

# exmaple 2
# IN identifier format
a = "Hello_World";
b = "Hello_World";
print("\nid of a :" , id(a) , "\nid of b :" , id(b));

id of a : 140592512734128
id of b : 140592512704752

id of a : 140592512704880
id of b : 140592512704880

In Python , the List Index Stores the memory location of the variable in it..
**AND NOT THE VARIABLE ITSELF.**

In [ ]:
# example
list_1 = [1 , 2  , 3];
print(list_1);

print(id(1));
print(id(list_1[0]));

x  = list_1[0];
print(1 is x);
print(id(1) , " == " , id(x));

[1, 2, 3]
11256064
11256064
True
11256064  ==  11256064

**MUTABILITY** : Ability to change or edit data in it's memory location.**(USING INBUILT FUNCTIONS)**

MUTABLE : List , Dictionary , Sets

IMMUTABLE : String , Int , Float , Boolean , Complex , Tuple

*   List item
*   List item

**We Can Manipulate A List Inside A Tuple**

ex :- ( 1 , 2 , 3 , 4 , [ 5 , 6 ] );

**List Concatetion ( List = List + [x,y] )
will lead to Formation Of A New List At A Different Memory Location**

In [ ]:
c = ([1,2] , [3 , 5]);
print(type(c));
c[1][0] = 10;
print(c);

<class 'tuple'>
([1, 2], [10, 5])

Example of Mutability

In [ ]:
# Example of Mutability

a = [1,2,3];
b = a;

print("a ", a );
print("b ", b );

# editiing 'a'
print("editing a");

a.append(11);
print("a ", a );
print("b ", b );
# even b changes
# since 'a' & 'b' are pointing to Same Address

a  [1, 2, 3]
b  [1, 2, 3]
editing a
a  [1, 2, 3, 11]
b  [1, 2, 3, 11]

**TO CREATE A CLONE / DUPLICATE AT BUT AT DIFFERENT MEMORY LOCATION**

In [ ]:
a = [5 , 6 , 7];
b = a[:];

print("id of a " , id(a));
print("id of b " , id(b));
# both id's are different

id of a  140592511950272
id of b  140592511949632



---

**Functions**

In [ ]:
def is_even(i) :

  # documentation of a function
  """checks if even
  input - any valid integer
  output - returns boolean"""

  return i % 2  == 0;

x = 15;
print('is %d even: ' % x , is_even(x));

# to print the documentation of function
print("\ndocumentation\n",is_even.__doc__);

is 15 even:  False

documentation
 checks if even
  input - any valid integer
  output - returns boolean

*Arguments*

Types :
* Default

* Postional

* Keyword

* Arbitary

In [ ]:
# example
def power(a = 1 , b = 1) : # default arguments set to a = 1 & b = 1
  return a ** b;
# positional argument
print(power(5 , 4));

print("default result ", power());

# keyword argument
print(power(b = 10 , a = 2));

# keyword argument has higher precedence than positional argument

def flex_mutliply(*num) :# a tuple of numbers is passed < For variable number of inputs >
  product = 1;
  for x in num :
    product *= x;
  print(num ," and it's type: " ,type(num));
  return product;

print(flex_mutliply(5,1,2));

625
default result  1
1024
(5, 1, 2)  and it's type:  <class 'tuple'>
10

**FRAMES AND OBJECT**

function treated as an Object.

function references in global frame.

**ANOMALY**

*be ware*

In [ ]:
# Anomaly

def g(y) :
  print("inside the function");
  print("x:", x);
  print("x+1:" , x+1); # this line DOES NOT MANIPULATE the value of 'X'

x = 5;
g(x);
print("outside the function " , x );

# the above function does not knows the value of 'x'
# hence it borrows the value / access the value of 'x' 
# from global frame.

# if a FUNCTION DOES NOT HAS IT'S OWN LOCAL VARIABLE...
# IT CAN ACCESS THE GLOBAL VARIABLE ...
# However IT ''CANNOT'' MANIPULATE THE global VARIABLE.

inside the function
x: 5
x+1: 6
outside the function  5

**TO MANIPULATE THE GLOBAL VARIABLE**

*using the **global** variable*

In [ ]:
def h(y) :
  global  x;
  x = x + 3;
  print("inside the function" , x);

x = 50;
h(x);
print("outside the function " , x);

# here we can see... after using the 'global' KEYWORD
# all manipulations made inside the function()
# are done to the GLOBAL variable all...

inside the function 53
outside the function  53

to manipulate a global variable inside a function()....
we use the keyword **"global"** inside the function before using it

NESTED FUNCTIONS

In [ ]:
def g(x) :

  def h() :
    x  = 'abc';
    print("in h() : x = ", x);
  x = x + 1;
  print('in g(x) : x = ' , x);
  h();
  return x;

x = 3;
z = g(x);

print("x : " , x , " z: ", z);

in g(x) : x =  4
in h() : x =  abc
x :  3  z:  4

**EVERYTHING IN A PYTHON( *INCLUDING FUNCTION)* IS AN OBJECT**

In [ ]:
def f(x) :
  return x**2;

x = f;

print(x(3));

print('type of x = ' , type(x));
print('type of f = ' , type(f));

9
type of x =  <class 'function'>
type of f =  <class 'function'>

* **WE CAN ALSO DELETE FUNCTIONS**

* **A FUNCTION CAN TAKE ANOTHER FUNCTION AS ARGUMENT**

* **A FUNCTION CAN RETURN A FUNCTION**

* **A FUNCTION CAN ALSO BE A PART OF LIST**

#QUESTION

In [ ]:
def f() :
  def x(a , b):
    return a + b;
  return x;

val = f() (3,4); # here f() returns a function 'x ()' which then take 3 , 4 as agruments

print(val);

7



---

**Lambda Functions**

Its a function without name(anonymous).

syntax : ***lambda input : expression***

> eg:

In [ ]:
a = lambda x ,y : x + y;

print(a(5 , 10));

15

*NO **RETURN** KEYWORD*

Difference Between Lambda and Normal Function

* Lambda function has NO Return Value.

* Has to be written in One Line.

* Not to be used again & again(Not meant for code resuability)

* Has No Name.

* Used Along **Higher Order Functions**

*(higher order functions are those functions which either take a function as a parameter or return a fucntion)*

* Do **Not** Use Keyword *'return'*

In [ ]:
# proof

c = lambda x , y : x ** y;
print("Answer : ",c(2 , 3) ,"\nType of Lambda Function: " , type(c));

Answer :  8
Type of Lambda Function:  <class 'function'>

**Logic Strictly In One Line**

In [ ]:
b = lambda x : 'Even' if x % 2 == 0 else 'Odd';

var = 10;
print("is %d even or odd : " %var , b(var));

is 10 even or odd :  Even

Higher Order Function

In [ ]:
# example 

L = [11 ,14 ,21 ,23 ,56 ,78 ,45 ,29 ,28];

def count_Odd_and_Even(fun1 , fun2 , L) :

  odd_sum = 0;
  even_sum = 0;

  for i in L :

    if fun1(i) :
      even_sum += i;
    
    if fun2(i) :
      odd_sum += i;

  return(odd_sum , even_sum);


# simple lambda function to 
# check whether number is Even or not.
x = lambda x : x % 2 == 0;

#to check Odd or not
y = lambda x : x % 2 != 0;


result = count_Odd_and_Even(x , y , L);

print("sum of Odds : %d and Evens : %d in List" % (result[0]  ,  result[1]));

sum of Odds : 129 and Evens : 176 in List

Some Of the In-built Higher Order Functions

> Map : 
* Takes Input parameter ( Function{lambda function} , an Iterable )

* returns a map object which has to converted into a List.


> Filter : filters out based on the given condition

> Reduce : reduces the list / iteratable

In [ ]:
# examples

# Map
L = [1 , 2 , 3 , 4 , 5 , 6 ];
result = list(map( lambda x : x*2 , L ) );
print(result);

print(list(map( lambda x : x % 2 == 0 , L ) ));


students = [
  {
      "name" : "Kobe",
      "Jersey-Number" : "24"
  }  ,

  {
      "name" : "Lebron",
      "Jersey-Number" : "23"
  }
  ,
  {
      "name" : "KD",
      "Jersey-Number" : "7"
  }
];

# extracting name of students
list1 = list(map(lambda student : student["name"] , students));
# each student is an indiviual dictionary
# extracting 'name' of every student
print(list1);

[2, 4, 6, 8, 10, 12]
[False, True, False, True, False, True]
['Kobe', 'Lebron', 'KD']
[{'name': 'Kobe', 'Jersey-Number': '24'}, {'name': 'Lebron', 'Jersey-Number': '23'}, {'name': 'KD', 'Jersey-Number': '7'}]

In [ ]:
# examples of filter()

L = [4 ,4 ,5 ,6 ,1 ,7 ,8 ,9, 10 ,21];
print("filter() : " , list(filter(lambda x : x > 4 , L)));


fruits = [ "Apple" , "Orange" ,"Watermelon" , "Kiwi"];
print(list(filter(lambda fruit : fruit[0] == 'A' , fruits)));

filter() :  [5, 6, 7, 8, 9, 10, 21]
['Apple']

In [ ]:
# example of reduce()
import functools


L = [1 ,2 ,3 ,4 ,5 ,6, 7];

print(functools.reduce(lambda x , y : x*y , L));
# here we are multiplying first two numbers
# then multipy product of first two numbers with 3rd number
# then we go on doing this untill we reduce the list to a single output
# 1+2 , 3 ,4 ,5 ,6 ,7
# 3+3 , 4 ,5, 6 ,7
# 6+4 , 5 ,6 ,7
#........


# example 2
print("greatest number in the list " , functools.reduce( lambda x , y : x if x > y else  y , L ));

5040
greatest number in the list  7

**List Comprehension and Dictionary Comprehension**

*   List Comprehension : to create a new list from old list.

*Similary Dictionary Comprehension*

In [ ]:
# example of List Comprehension

L = [ 1 , 2 , 3 , 4 ,5 , 6, 7];

L2 = [item * 2 for item in L if item % 2 != 0];
print(L2);

[2, 6, 10, 14]



---



---

##**Python_2**

In [ ]:
print(5 * 'Hello\n');

Hello
Hello
Hello
Hello
Hello

String Concatenation

In [ ]:
print("Hello " + str(50)); # convert 50 to '50'

# or 

print(f"hello {50}"); # formatted strings in python
# F - Strings

# or

print("hello %d and %f" % (50 , 90));

Hello 50
hello 50
hello 50 and 90.000000

functions

In [ ]:
def remaining( a ) :
  print(f"{a} days are remaining" , end="\n\n");

remaining('T-2');

def sum( a = 15 , b = 20 ) : # passing default parameters so 
                        # if no parameters are passed then we can use default
  return a + b;

a = 20;
b = 30;
print( f"sum of {a} and {b} is {sum()}"  , end="\n\n");


# variable Length Arguments
def varSum(*num) :

  sum = 0 ;
  for i in num:
    sum += i;

  return sum;

print("variable sum: " , varSum(10 , 20 , 30));

print("variable sum: " , varSum(10 , 20 , 30 , 50 , 90 , 100));

T-2 days are remaining

sum of 20 and 30 is 35

variable sum:  60
variable sum:  300

scope

In [ ]:
# global variable
var1 = 20;

def scope_check() :
  print("accessing global var1" , var1);
  var2 = 50; # local variable can't be acessed

scope_check();

# print(var2);

var3 = 50;
def scope_check2(var3) :
   print(var3);

scope_check2(100);

accessing global var1 20
100

user input

In [ ]:
input_1 = input("Enter a number "); # Always Takes User Input In Form Of String
print(type(input_1));

Enter a number 55
<class 'str'>